.dataContainer{
    .dataOnVideo{
        width: 10em;
        position: absolute; 
    }
    .dataOne{
        top: 20em;
        right: 25em;
    }
    .dataTwo{
        top: 20em;
        right: 35em;
    }
    .dataThree{
        top: 20em;
        right: 45em;
    }
    .dataFour{
        top: 20em;
        right: 55em;
    }
}

