.dataContainer{
    position: absolute;
    top:0;
    .dataOnVideo{
        position: absolute;
        width: 10em;
    }
    .dataOne{
        top: 267px;
        left: 257px;
        width: 149px;
        z-index: 1;
    }
    .dataTwo{
        width: 118px;
        top: 359px;
        left: 145px;
    }
    .dataThree{
        display: none;
    }
    .dataFour{
        display: none;
    }
    .dataFive{
        top: 220px;
        left: 139px;
        width: 122px;
        opacity: 0.7;
    }
    .dataSix{
        bottom: -10em;
        right: -57em;
    }
    .dataSeven{
        bottom: -10em;
        right: -48em;
        width: 124px;
    }
}
.chartOnVideo{
    width: 51%;
    height: 52%;
    position: relative;
    top: -22em;
    right: 1em;
    canvas{
        background: none;
    }
}

