.dataContainer{
    position: absolute;
    top:0;
    .dataOnVideo{
        position: absolute;
        width: 10em;
    }
    .dataOne{
        top: 3px;
        left: 4px;
        width: 115px;
    }
    .dataTwo{
        width: 89px;
        top: 41px;
        left: 9px;
    }
    .dataThree{
        display: none;
    }
    .dataFour{
        display: none;
    }
    .dataFive{
        top: 18px;
        left: 123px;
        width: 86px;
        opacity: 0.8;
    }
    .dataSix{
        top: 24px;
        right: -2px;
        width: 130px;
    }
    .dataSeven{
        top: 137px;
        right: 120px;
        width: 95px;
    }
    .dataEight{
        top: 131px;
        left: 115px;
        width: 100px;
    }
    .dataNine{
        top: 42px;
        right: 111px;
        width: 90px;
    }
    //box
    .dataBox{
        width: 225px;
        height: 243px;
        border: 1px solid $whiteA;
        background: rgba(255, 255, 255, 0.233);
        position: absolute;
        top: 218px;
        right: -267px;
    }
    .two{
        top: 529px;
        left: 474px;
        width: 305px;
        height: 167px;
    }   
    .one{

    }    
}


