.visualContainer{
    width: 60%;
    height: 45em;
    background-color: $mainDarkA;
    margin: 2em auto;
    
    .visualContainerHeader{
        background: none;
        width: 100%;
        height: 4em;
        justify-content: flex-end;
        .visualButton{
            cursor: pointer;
            background: none;
            border:none;
            margin-right: 2em;
            font-size: 0.7em;
            opacity: 0.5;
            color: $white;
            height: 4rem;
            &:hover{
                border-bottom: 3px solid $mainLight;
                opacity:1;
            }
            &:active{
                border-bottom: 3px solid $mainLight;
                opacity:1;
            }
        }
        .visualbuttonImg{
            width: 2em;
            margin-right: 1em;
            opacity: 0.5;
            &:hover{
                opacity:1;
            }
        }
    }
    .visualContainerBody{
        .video{
            width: 100%;
            height: 41rem;
        }
        .chart{ 
            width: 100%;
            height: 41rem;
        }   
    } 
}
.videoButtonContainer{
    position: absolute;
    top: 11em;
    right: 22em;
}
.videoButton{
    background: red;
}

//Map
.floorPlan{
}

.locationButton{
    background: none;
    border: none;
    &:focus{
        outline: none;
    }
    .locationIcon{
        top: 21em;
        right: 55em;
        width: 58px;
        position: absolute;
    }
}

.zones{
    position: absolute;
    top: 30em;
    right: 25em;
    .zoneNumber{
        display: inline-block;
        background-color: #00aaf1;
        color: white;
        width: 30px;
        height: 30px;
        border-radius: 15px;
        text-align: center;
    }
    .zoneName{
        color: $white;
        display: block;
        margin-bottom: 2em;
    }
}

.videoThumbnailContainer{
    position: absolute;
    width: 18em;
    background-color: grey;
    top: 11em;
    right: 59em;
    height: 12em;
    .videoThumbnail{
        color: $whiteA;
        font-size: 2.5em;
        text-align: center;
    }
}

//Split Images
.splitImageContainer{
    flex-wrap: wrap;

    .splitImage{
        width: 46%;
        margin: 1em;
    }
}
.halfImage{
    width: 50px;
}

//Half Images
.halfImage{
    width: 99%;
    height: 20em;
}
.halfChart{
    width: 50%;
}
