.panelContainer{
    width: 20%;
    height: 100%;
    background: $mainDarkA;
    margin: -0.5em;
    .panelHeader{
        background: $mainDarkTwo;
        width: 100%;
        height: 4.6em;
        border-bottom: 2px solid lighten($mainDarkA, 10%);
        color: $white;
        padding: 1.6em;
        font-size: 14px;
        span{
            font-weight: bold;
        }
    }
    .panelBody{
        padding:1em;
        font-weight: bold;
    }

    .panelList{
        border-bottom: 1px solid lighten($mainDarkA, 10%);
        color: $white;
        padding: 0.8em;
        font-size: 11px;
        .one{
            
        }
        .two{
        color: rgba(255, 255, 255, 0.63);
        }
        .three{
            color: $mainLight;
        }
    }
    .sensorTitle{
        justify-content: flex-start;
        margin-left: 50px;
    }
    .sensorTitleText{
        margin-right: 21px;
    } 
    .panelButton{
        background: none;
        border: 2px solid $mainLight;
        width: 82%;
        height: 2.5em;
        border-radius: 18px;
        color: $white;
        font-weight: bold;
        position: relative;
        Bottom: 137px;
        right: -31px;
        &:hover{
            background: $mainDark;
            color: $mainLight;
        }
    }
}

.panelIcons{
    width: 20px;
    margin-right: 1em;
}
.panelListName{
    margin-right: 8.7em;
    margin-right: 85px;
}
.arrow{
    width: 13px; 
}
.up{
    opacity: 0.4;
}
.down{
    transform: rotate(90deg);
} 
.opacity{
    opacity: 0.3;
}
.Textblue{
    color: $mainLight;
}
.toggleButton{
    width:10px;
}