.visualContainer{
    right: 19em;
    width: 60%;
    height: 41em;
    background-color: $mainDarkA;
    
    .visualContainerHeader{
        background: $mainDarkTwo;
        width: 100%;
        height: 4em;
        justify-content: flex-end;
        border-bottom: 2px solid lighten($mainDarkA, 10%) ;
        .visualButton{
            cursor: pointer;
            background: none;
            border:none;
            margin-right: 2em;
            font-size: 0.7em;
            opacity: 0.5;
            color: $white;
            height: 4rem;
            &:hover{
                border-bottom: 3px solid $mainLight;
                opacity:1;
            }
            &:active{
                border-bottom: 3px solid $mainLight;
                opacity:1;
            }
        }
        .visualbuttonImg{
            width: 2em;
            margin-right: 1em;
            opacity: 0.5;
            &:hover{
                opacity:1;
            }
        }
    }
    .visualContainerBody{
        height: 41rem;
        .video{
            width: 800px;
            height: 572px;
            margin: 10px;
            filter: brightness(0.6);
        }
        .chart{ 
            width: 93%;
            height: 41rem;
        }   
    } 
}

//buttons
.videoButtonContainer{
    position: absolute;
    top: 184px;
    right: 334px;
    display: block;
}
.videoButton{
    background: $whiteA;
    width: 46px;
    height: 46px;
    border-radius: 23px;
    border: none;
    display: block;
    margin-bottom: 7px;
    &:hover{
        background: $mainLight;
        //background: $UIColorFour;
    }
}
.videoButtonIcon{
    width: 25px; height: 25px;
}

//Map
.floorPlan{
    width: 91%;
    position: relative;
}

.locationButton{
    background: none;
    border: none;
    &:focus{
        outline: none;
    }
    .locationIcon{
        top: 24em;
        right: 63em;
        width: 50px;
        position: absolute;
    }
    // .locationIconSVG:hover{
    //     fill: red;
    // }
}

// .locationIconSVG *{
//     fill: red;
// }

.svgColor{
    fill: red;
    background: rebeccapurple;
}

.IconTwo{
    top: 14em;
    right: 53em;
    width: 50px;
    position: absolute;
}
.IconThree{
    top: 16em;
    right: 32em;
    width: 50px;
    position: absolute;
}
.IconFour{
    top: 34em;
    right: 49em;
    width: 50px;
    position: absolute;
}

.zones{
    position: relative;
    bottom: 241px;
    right: -614px;
    .zoneNumber{
        display: inline-block;
        background-color: $mainLightA;
        color: $white;
        width: 20px;
        height: 20px;
        border-radius: 10px;
        text-align: center;
        font-size: 13px;
    }
    .zoneName{
        color: $mainLightA;
        display: inline-block;
        margin-bottom: 1em;
        margin-left: 1em;
        font-style: italic;
    }
}

.videoThumbnailContainer{
    position: absolute;
    width: 17em;
    background-color: #011f2b;
    top: 16em;
    right: 46em;
    height: 11em;
    padding: 2em;
    .videoThumbnail{
        color: rgba(255, 255, 255, 0.372);
        font-size: 1.3em;
        font-style: italic;
        text-align: center;
        line-height: 5em;
    }
}

//Split Images
.splitImageContainer{
    margin: 0 auto;
    .splitImageContainerTop{
        width: 100%;
        margin: 19px;
        margin-bottom: 0;
    }
    .splitImageContainerBottom{
        width: 100%;
        margin: 19px;
        margin-top: 0;
    }
    .splitImage{
        border: 5px solid $whiteA;
        width: 92%;
        margin: 0.5em 0;
    }
    p{
        margin:0;
        font-size: 12px;
    }
}

//Half Images
.halfImageContainer {
    width: 428px;
    height: 37em;
    overflow: hidden;
}
.halfImage{
    width: 515px;
    height: 37em;
}
.halfChart{
    //background: $whiteA;
    width: 385px;
    height: 590px;
    position: absolute;
    top: 166px;
    right: 313px;
    overflow: scroll;
}
.halfChartContainer{
    width: 861px;
}
