.visualContainer{
    right: 19em;
    width: 60%;
    height: 41em;
    background-color: $mainDarkA;
    
    .visualContainerHeader{
        background: $mainDarkTwo;
        width: 100%;
        height: 4em;
        justify-content: flex-end;
        border-bottom: 2px solid lighten($mainDarkA, 10%) ;
        .visualButton{
            cursor: pointer;
            background: none;
            border:none;
            margin-right: 2em;
            font-size: 0.7em;
            opacity: 0.5;
            color: $white;
            height: 4rem;
            &:hover{
                border-bottom: 3px solid $mainLight;
                opacity:1;
            }
            &:active{
                border-bottom: 3px solid $mainLight;
                opacity:1;
            }
        }
        .visualbuttonImg{
            width: 2em;
            margin-right: 1em;
            opacity: 0.5;
            &:hover{
                opacity:1;
            }
        }
    }
    .visualContainerBody{
        height: 41rem;
        .video{
            width: 800px;
            height: 572px;
            margin: 10px;
            filter: brightness(0.6);
        }
        .chart{ 
            width: 93%;
            height: 41rem;
        }   
    } 
}

//buttons
.videoButtonContainer{
    position: absolute;
    top: 167px;
    right: 314px;
    z-index: 1;
    //display: block;
}
.videoButton{
    background: $whiteA;
    border: 1px solid $mainDark;
    width: 35px;
    height: 35px;
    border-radius: 10px;
    display: block;
    margin-top: 3px;
    margin-bottom: 7px;
    margin-right: 5px;
    &:hover{
        //background: $mainLight;
        background: $mainLight;
    }
}
.videoButtonIcon{
    width: 23px;
    padding-right: 4px;
}

//Map
.floorPlan{
    width: 91%;
    position: relative;
}

.locationButton{
    background: none;
    border: none;
    &:focus{
        outline: none;
    }
    .locationIcon{
        top: 366px;
        right: 904px;
        width: 50px;
        position: absolute;
    }
}

.videoThumbnailContainer{
    position: absolute;
    width: 17em;
    background-color: $mainDark;
    top: 206px;
    right: 645px;
    height: 11em;
    padding: 2em;
    overflow: hidden;
    border: 2px solid $whiteA;
    .videoThumbnail{
        color: $white;
        font-size: 1.3em;
        font-style: italic;
        text-align: center;
        line-height: 5em;
    }
    .videoThumbnailImage{
        width: 309px;
        position: absolute;
        top: -19px;
        right: -17px;
    }
}


.IconTwo{
    top: 14em;
    right: 53em;
    width: 50px;
    position: absolute;
}
.IconThree{
    top: 16em;
    right: 32em;
    width: 50px;
    position: absolute;
}
.IconFour{
    top: 427px;
    right: 620px;
    width: 50px;
    position: absolute;
}

.zones{
    position: relative;
    bottom: 241px;
    right: -614px;
    font-size: 13px;
    .zoneNumber{
        display: inline-block;
        background-color: $mainLightA;
        color: $white;
        width: 20px;
        height: 20px;
        border-radius: 10px;
        text-align: center;
        font-size: 13px;
    }
    .zoneName{
        color: $mainLightA;
        display: inline-block;
        margin-bottom: 1em;
        margin-left: 1em;
        font-style: italic;
    }
}

//Split Images
.splitImageContainer{
    margin: 0 auto;
    .splitImageContainerTop{
        width: 100%;
        margin: 19px;
        margin-bottom: 0;
        margin-top: 47px;
    }
    .splitImageContainerBottom{
        width: 100%;
        margin: 19px;
        margin-top: 0;
        margin-top: 28px;
        position: absolute;
        top: 183px;
        right: -753px;
    }
    .imageContainer{
        width: 388px;
        overflow: hidden;
        //border: 3px solid rgba(255, 255, 255, 0.372);
        border: 3px solid $mainDarkA;
    }
    .splitImage{
        width: 500px;
        height: 240px;
        cursor: pointer;
        &:hover{
            filter: brightness(0.6);
        }
    }
    p{
        margin:0;
        font-size: 11px;
        background: $mainDark;
        padding: 1px 6px;
    }
}

//Half Images
.halfImageContainer {
    width: 428px;
    height: 37em;
    overflow: hidden;
}
.halfImage{
    width: 100%;
    height: 36.5em;
}
.halfChart{
    //background: $whiteA;
    width: 385px;
    height: 590px;
    position: absolute;
    top: 166px;
    right: 313px;
    overflow: scroll;
}
.halfChartContainer{
    width: 861px;
}
