
.nav{
    width: 100%; height: 10%;
    background-color: $mainDark;
    opacity: 0.7;
  .logo{
    width: 186px;
    margin: 10px 10px 10px 20px;
  }
  .logOutContainer{
    margin-right: 2em;
    .dataIconHeader{
      width: 45px;
      margin-right: 0.4em;
    }
    .dataIconHeaderNoti{
      width: 39px; height: 28px;
      cursor: pointer;
    }
    .iconLogout{
      width: 35px;
      margin: 0 1em;
      cursor: pointer;
    }
    .Iconone{
      margin-right: 4em;

    }
  }
}

.navIconNumber{
  width: 39px;
  height: 29px;
  border-radius: 20px;
  border: 2.5px solid $mainLight;
  color: white;
  text-align: center;
}
.navIconname{
  width: 40px; height: 40px;
  line-height: 40px;
  border-radius: 20px;
  background: $mainLightA;
  color: $white;
  text-align: center;
  font-weight: bold;
  margin-right: 1em;
}
.navIconnameText{
  color: $mainLight;
  font-weight: bold;
  margin: 0 1em;
} 
.navIconLine{
  width:1px;
  height: 2em;
  border-right: 1.5px solid $mainLightA;
  margin: 0 2em;
}
