
.buttonGroupSmall{
    //position: absolute;
    position: relative;
    //bottom: 0;
    width: 50%;
    margin-top: 3em;
    .buttonContainerSmall{
        .buttonSmall{
            width: 80px; height: 80px;
        }
    }

    
}