
$black : rgb(0, 0, 0);
$blackA : rgba(0, 0, 0, 0.66);
$white : rgb(255, 255, 255);
$whiteA : rgba(255, 255, 255, 0.372);

$mainDark:  #011f2b;
$mainDarkA:  #012c3d98;
$mainLight: #00aaf1;

$UIColorOne:#ff9300;
$UIColorTwo:#00b5ff;
$UIColorThree:#00ffb2;
$UIColorFour:#fc478f;
$UIColorFive:#ffffff;
$UIColorSix:#e5d500;


